DB_URL=jdbc:mysql://localhost:3306/authify
DB_USERNAME=root
DB_PASSWORD=root

# JWT Configuration
JWT_SECRET=

# Mail Configuration
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

# Frontend Configuration
FRONTEND_URL=http://localhost:5173